@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .active {
    @apply relative;
    @apply after:absolute;
    @apply after:bg-white;
    @apply after:h-0.5;
    @apply after:w-full;
    @apply after:rounded-full;
  }

  .scrolled {
    @apply bg-accent;
  }

  :target:not(#home):before {
    content: "";
    display: block;
    height: 96px;
    margin: -96px 0 0;
  }
}

html {
  scroll-behavior: smooth;
}
